-f https://download.pytorch.org/whl/torch_stable.html
torch==1.10.2+cpu
torchvision==0.11.3+cpu
uvicorn[standard]
numpy
pandas
Pillow==8.0.1
fastapi
python-multipart
matplotlib
opencv-python
requests>=2.23.0
tqdm>=4.41.0
seaborn>=0.11.0
pytest
gunicorn